<div class="container-fluid">
  <div class="login-wrapper">

    <div class="login-container">
      <div class="header-container">
        <p class="header-text">Ramen Buffet</p>
      </div>
      {{#if tempUser}}
        <div class="form-container">
          <form class="register-form">
            <input type="text" class="reg-un" name="username" placeholder="Username">
            <input type="password" class="reg-pw-1" name="password" placeholder="Password">
            <input type="password" class="reg-pw-2" name="confirm-password" placeholder="Retype password">
            <div class="reg-notify">
              <span class="reg-icon ready"><i class="fa fa-check"></i></span>
              <span class="reg-icon error"><i class="fa fa-times"></i></span>
              <span class="reg-icon taken"><i class="fa fa-lock"></i></span>
              <span class="reg-icon available"><i class="fa fa-unlock"></i></span>
              <p class="reg-message"></p>
            </div>
            {{#if tempUser.strategy}}
              <span class="social-strategy" data-id="{{tempUser.strategy}}"></span>
              {{{invert tempUser.data.facebook}}}
            {{/if}}
          </form>
          <div class="auth btn-container">
            <p class="caption"><a class="user-login">Have an account? Sign in</a></p>
            <span class="reg-submit"><i class="fa fa-arrow-right"></i></span>
          </div>
          <div class="message-container">
            <p class="flash-message">{{tempUser.message}}</p>
            {{#if tempUser.data.facebook}}
            <img class="nav-avatar" src="https://graph.facebook.com/{{tempUser.data.facebook.id}}/picture">
            {{else if tempUser.data.twitter}}
            <img class="nav-avatar" src="{{user.twitter.avatar}}">
            {{/if}}
          </div>
        </div>
      {{else}}
        <div class="btn-container">
          <a href="/auth/facebook">
            <div class="facebook-container">
              <p class="lead">Login with facebook</p>
              <i class="fa fa-facebook"></i>
            </div>
          </a>
          <a href="/auth/twitter">
            <div class="twitter-container">
              <p class="lead">Login with twitter</p>
              <i class="fa fa-twitter"></i>
            </div>
          </a>
        </div>
      {{/if}}
    </div>
  </div>
</div>